{%extends 'base.html'%}
{%block content%}
<main role="main">
<div class="container">
    <br>
    <div class="container">
      <div class="row" >
        <div class="col-8" >
          <h2 class="blog-post-title">{{proddetails.title}}</h2>
            <p class="blog-post-meta">{{proddetails.pub_date}} {{proddetails.hunter}}</p>
            <img   class="img-fluid" src={{proddetails.icon.url}} height="300" width="300"/>
          <a href="javascript:{document.getElementById('upvote').submit()}"><button>Upvote <span class="oi oi-thumb-up"></span></button></a>
            Upvoted by {{proddetails.vote_count}}
        </div>
      </div>
      <div  class="row" >
        <div class="col-8" >
            <img   class="img-fluid" src={{proddetails.image.url}} />
            <br>
            <a href="{{proddetails.url}}" target="_blank">{{proddetails.title}}</a>
            <p class="card-text">{{proddetails.body}}</p>
            <hr>
          <br>
        </div>
      </div>
    </div>
</div>

<form id="upvote" method="POST" action="{% url 'upvote' proddetails.id %}">
  {% csrf_token %}
  <input type="hidden">
</form>
</main>
{%endblock%}