{%extends 'base.html'%}
{%block content%}
<main role="main">
  <div class="jumbotron text-center">
      <h1>Vote your favorite</h1>
    <p class="lead">List, share and explore products hunted by many<br> Upvote the ones you like most</p>
</div>
{%for product in product.all %}
  <div class="album py-5 bg-light">
<div class="container">
              <h2 class="blog-post-title">{{product.title}}</h2>
              <p class="blog-post-meta">{{product.pub_date}} {{product.hunter}}</p>
              <img   class="img-fluid" src={{product.icon.url}} height="300" width="300"/>
    <br>
    <a href="{% url 'detail' product.id %}" target="_blank">More</a>
</div>
  </div>
{%endfor%}

</main><!-- /.container -->

{%endblock%}