{%extends 'base.html'%}
{%block content%}
<main role="main">
  <div class="jumbotron text-center">
    <div class="container">
      <h1>Vote your favorite</h1>
    <p class="lead">List, share and explore products hunted by many<br> Upvote the ones you like most</p>
  </div>

  <div class="album py-5 bg-light">
      <div class="container">
        <div class="row" >
          <div class="col-md-4" >
            <div class="content" >
              <img src="https://images-na.ssl-images-amazon.com/images/I/71NMCqCxj-L._SY879_.jpg" style="width:50%" />
                <button type = "button" class = "btn btn-primary btn-lg">Upvote</button>
              <div class="card-body">
                <p class="card-text">product 1</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</main><!-- /.container -->

{%endblock%}